.caret {
    margin-left: 4px;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
    margin-left: 30px;
}

.wrap-word{
    word-break: break-all;
    word-wrap: break-word;
}

.link-active{
    background-color: #DCDCDC;
}
